html{
	overflow-y: hidden;
}

body{
	margin: 0;
	padding: 0;
	background: #1A5B35;
}

.icon-first{
	position: absolute;
	top: 32px;
	left: 0;
}

.icon-second{
	position: absolute;
	top: 0;
	right: 0;
}

.icon-third{
	position: absolute;
	left: 0;
	bottom: 0;
}

.icon-fourth{
	position: absolute;
	left: 14px;
	bottom: 75px;
}

.text{
	width: 500px;
	margin: 200px auto;
	display: block;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.text-header{
	max-width: 200px;
	height: 40px;
	margin: 0 auto;
	padding: 10px;
	font-family: 'Comforter Brush', cursive;
	font-size: 28px;
	text-align: center;
	font-weight: 900;
	color: #CEB076;
}

.text-header p, .text-title p, .subtitle p{
	margin: 0;
}

.text-title{
	max-width: 500px;
	margin: 0 auto;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #fff;
}

.subtitle-content{
	margin: 20px auto;
	width: 250px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}

.subtitle-image{
	position: absolute;
	right: 460px;
	bottom: 60px;
}

.mega{
	width: 100px;
	position: absolute;
	bottom: 30px;
	left: 630px;
}

@media (max-width: 768px){
	.icon-second{
		display: none;
	}

	.icon-third{
		display: none;
	}

	.icon-second{
		position: absolute;
		top: 20px;
		right: 20px;
	}
}